body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

#userForm, #chat {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffffe1;
  max-width: 600px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px #00000033;
}

#userForm button, form button {
  background-color: #4CAF50;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

#userForm button:hover, form button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 70vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}

#messages p {
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  line-height: 1.4;
  position: relative;
  max-width: 80%;
}

#messages .send {
  align-self: flex-end;
  background-color: #0b93f6;
  color: white;
}

#messages .received {
  background-color: #e5e5ea;
  color: black;
}

form {
  display: flex;
  margin-top: 10px;
}

form input {
  flex-grow: 1;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

#name, #lang {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50px;
}

.chat-mode {
  display: block;
  width: 90%;
  margin: 10px auto;
}
